In [1]:
bool(42)

True

In [3]:
print(bool(0.0))
print(bool(-1))
print(bool(-1.23))
print(bool([]))
print(bool("spam"))
print(bool(""))

False
True
True
False
True
False

In [7]:
g=20
print(g == 13)
print(g !=20)
print(g !=13)
print(g < 30)
print(g > 30)
print(g==20)
print(g>=20)
print(g<=20)

False
False
True
True
False
True
True
True

In [9]:
if True:
    print("It's true!")

It's true!

In [10]:
h=30
if h > 50:
    print("Greater than 50")
else:
    print("50 or smaller")

50 or smaller

In [11]:
c= 5
while c !=0:
    print(c)
    c -=1

5
4
3
2
1

In [12]:
a= 1+3+4+6+\
6+7+8+\
6+4
print(a)

45

In [13]:
def double(num):
    """ function to double the value """
    return 2 * num
double(4)

8

In [14]:
c=5
while c:
    print(c)
    c-=1

5
4
3
2
1

In [19]:
while True:
    response = input()
    if int(response) % 7 ==0:
        break

36
35

In [20]:
c=1
while c!=11:
    print(c)
    c+=1

1
2
3
4
5
6
7
8
9
10

In [24]:
a = int(input())
sum=0
for i in range (1,a+1):
    sum = sum + i
print(sum)

5
15

In [30]:
L=[10,27,45,201,30,150,60]
for i in range(len(L)):
    if L[i]>150:
        break
    if L[i]%5==0:
        print(L[i])

10
45

In [32]:
n1=int(input())
n2=int(input())
prod=n1*n2
if prod >1000:
    print("sum is",n1+n2)
else:
    print(prod)

25
200
sum is 225

In [33]:
sum=0
for i in range(1,11):
    sum =sum+i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [56]:
n=int(input())
sum=0
for i in range(1,n):
    sum =sum+i
avg=sum/n
print(avg)

5
2.0

In [44]:
l=[1,'jes',2,3,4]
l[2:4]

[2, 3]

In [36]:
l[:3]

[1, 'jes', 2]

In [37]:
l[:3:2]

[1, 2]

In [38]:
l[::-1]

[4, 3, 2, 'jes', 1]

In [45]:
l[0]=20
l

[20, 'jes', 2, 3, 4]

In [46]:
l[1:3]=['kate',50]
l

[20, 'kate', 50, 3, 4]

In [49]:
l=input().split(',')
l

1,2,3

['1', '2', '3']

In [50]:
type(l)

list

In [95]:
l1=list(map(int,input().split(',')))
l1

1,2,3,5,6,4,8

[1, 2, 3, 5, 6, 4, 8]

In [53]:
print(l1)

<map object at 0x000001E65445DF28>

In [57]:
l= ['p','r','o','b','e']
print(l[0])
print(l[2])
print(l[4])
#print(l[0.1])

p
o
e

TypeError: list indices must be integers or slices, not float

In [59]:
h=['happy',[20,22]]
print(h[1][1])
print(h[-1])

22
[20, 22]

In [64]:
k=['k','a','r','t','h','i','k','a']
print(k[2:5])
print(k[2:6:2])
print(k[:5])
print(k[3:])
print(k[::-1])

['r', 't', 'h']
['r', 'h']
['k', 'a', 'r', 't', 'h']
['t', 'h', 'i', 'k', 'a']
['a', 'k', 'i', 'h', 't', 'r', 'a', 'k']

In [66]:
#modify
o= [2, 4, 6, 8]
o[0]=1
print(o)
o[1:4]=[3,5,7]
print(o)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [76]:
#append
o.append(9)
print(o)

[1, 3, 5, 7, 9]

In [78]:
#extend
o.extend([11,13])
print(o)

[1, 3, 5, 7, 9, 11, 13]

In [80]:
print(o+[15,17])
print(o*3)

[1, 3, 5, 7, 9, 11, 13, 15, 17]
[1, 3, 5, 7, 9, 11, 13, 1, 3, 5, 7, 9, 11, 13, 1, 3, 5, 7, 9, 11, 13]

In [83]:
#insert
o.insert(1,3.3)
print(o)

[1, 3.3, 3.3, 3, 5, 7, 9, 11, 13]

In [84]:
#remove
o.remove(3.3)
print(o)

[1, 3.3, 3, 5, 7, 9, 11, 13]

In [85]:
print(o.pop(1))
print(o.pop())

3.3
13

In [87]:
print(o)

[1, 3, 5, 7, 9, 11]

In [88]:
o.clear()
print(o)

[]

In [98]:
#methods
print(k.index('a'))#showing 1st occurence
print(k.count('a'))
k.sort()
print(k)
k.reverse()
print(k)

0
2
['a', 'a', 'h', 'i', 'k', 'k', 'r', 't']
['t', 'r', 'k', 'k', 'i', 'h', 'a', 'a']

In [99]:
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango

In [103]:
nums=list(map(int,input().split(' ')))
n=int(input())
a=[]
for i in range(len(nums)):
    if nums[i]%n==0:
        a.append(nums[i])
print(a)

1 2 3 4 5 6
2
[2, 4, 6]

In [117]:
m1=[[1,2],[3,4]]
m2=[[1,2],[3,4]]

for i in range(len(m1)):
    for j in range(len(m2)):
        v[i][j]=m1[i][j]+m2[i][j]
print(v)

[[2, 4], [6, 8]]

In [116]:
m1=[[1,2],[3,4]]

for i in range(len(m1)):
    for j in range(len(m1)):
        m2[i][j]=m1[j][i]
print(m2)

[[1, 3], [2, 4]]

In [124]:
#tuple
t=()
tt=("hi")
print(type(t))
print(type(tt))
t1=(6,7,8,9)
print(t1)
t2=('a',65,'karthika')
print(t2)

<class 'tuple'>
<class 'str'>
(6, 7, 8, 9)
('a', 65, 'karthika')

In [134]:
m= ("mouse", [8, 4, 6], (1, 2, 3))
print(m)
print(m[0][2])
print(m[-1][-1])
m[1][1]=9
print(m)
m[1]=9

('mouse', [8, 4, 6], (1, 2, 3))
u
3
('mouse', [8, 9, 6], (1, 2, 3))

TypeError: 'tuple' object does not support item assignment

In [122]:
my_tuple = 3, 4.6, "dog"
print(my_tuple)
a, b, c = my_tuple
print(a)
print(b)
print(c)

(3, 4.6, 'dog')
3
4.6
dog

In [129]:
my_tuple = ['p','e','r','m','i','t']

print(my_tuple[0])
print(my_tuple[5])
#print(my_tuple[6])
#print(my_tuple[5.7])
print(my_tuple[1:4])
print(my_tuple[1:])
print(my_tuple[:4])
print(my_tuple[:])

p
t
['e', 'r', 'm']
['e', 'r', 'm', 'i', 't']
['p', 'e', 'r', 'm']
['p', 'e', 'r', 'm', 'i', 't']

In [135]:
print((1, 2, 3) + (4, 5, 6))

# Repeat
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

In [137]:
del(m[1][1])
print(m)
del(m[1])
print(m)

('mouse', [8, 6], (1, 2, 3))

TypeError: 'tuple' object doesn't support item deletion

In [138]:
del m

In [139]:
print(m)

NameError: name 'm' is not defined

In [142]:
m=('k','a','r','t','h','i','k','a')
print(m.count('k'))
print(m.index('a'))
print(m.index('t'))

2
1
3

In [144]:
print('a' in m)
print('a'not in m)

True
False

In [145]:
for i in ('John','Kate'):
     print("Hello",i)

Hello John
Hello Kate

In [151]:
st={1,2,3,4}
print(st)

{1, 2, 3, 4}

In [147]:
s2={1,2.0,"hello"}
print(s2)

{1, 2.0, 'hello'}

In [2]:
l1=[1,3,5]
s1=set(l1)
print(s1)

{1, 3, 5}

In [3]:
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [4]:
a={}
print(type(a))
a=set()
print(type(a))

<class 'dict'>
<class 'set'>

In [5]:
sm={1,3}
print(sm)
sm.add(2)
print(sm)
sm.update([6,7])
print(sm)

{1, 3}
{1, 2, 3}
{1, 2, 3, 6, 7}

In [6]:
sm.add(4)
print(sm)

{1, 2, 3, 4, 6, 7}

In [7]:
sm.update([5,9], {0,10,8})
print(sm)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
sm.discard(4)
print(sm)
sm.remove(6)
print(sm)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10}
{0, 1, 2, 3, 5, 7, 8, 9, 10}

In [10]:
sm.discard(11)
print(sm)
sm.remove(11)

{0, 1, 2, 3, 5, 7, 8, 9, 10}

KeyError: 11

In [11]:
my_set = set("HelloWorld")
print(my_set)

{'H', 'o', 'W', 'r', 'd', 'l', 'e'}

In [12]:
my_set.pop()
print(my_set)

# clear my_set
my_set.clear()
print(my_set)

{'o', 'W', 'r', 'd', 'l', 'e'}
set()

In [15]:
#union
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
print(A | B)
#intersection
print(A&B)
#set diff
print(A-B)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [20]:
strr="Karthika"
str1='Karthika'
str2='''Karthika'''
print(strr,str1,str2)

Karthika Karthika Karthika

In [18]:
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello, welcome to
           the world of Python

In [21]:
st='HELLooooo'
print('str',st)

str HELLooooo

In [23]:
print('str[0] = ', st[0])
print('str[-1] = ', st[-1])
print('str[2:5] = ', st[2:5])
print('str[:6] = ', st[:6])
print('str[5:-2] = ', st[5:-2])

str[0] =  H
str[-1] =  o
str[2:5] =  LLo
str[:6] =  HELLoo
str[5:-2] =  oo

In [24]:
st[10]

IndexError: string index out of range

In [25]:
st[1.5]

TypeError: string indices must be integers

In [27]:
st[5]='w'

TypeError: 'str' object does not support item assignment

In [28]:
st='Python'
print(st)

Python

In [29]:
del st[1]

TypeError: 'str' object doesn't support item deletion

In [30]:
print(st + str1)

PythonKarthika

In [31]:
print(st * 3)

PythonPythonPython

In [33]:
c=0
for i in str1:
    print(i)
    if(i=='h'):
        print('found')
        break

K
a
r
t
h
found

In [34]:
print('a' in 'program')

True

In [35]:
print('at' not in 'battle')

False

In [36]:
#enumerate
l=list(enumerate(str1))
print(l)

[(0, 'K'), (1, 'a'), (2, 'r'), (3, 't'), (4, 'h'), (5, 'i'), (6, 'k'), (7, 'a')]

In [37]:
#length
len(str1)

8

In [38]:
print('''He said, "What's there?"''')

# escaping single quotes
print('He said, "What\'s there?"')

# escaping double quotes
print ("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

In [41]:
#1.	Python Program to Check Whether a String is Palindrome or Not
st1=input()
st2=st1[::-1]
if st1==st2:
    print(st1," string is palindrome")
else:
    print(st1," string is not palindrome")

malayalam
malayalam  string is palindrome

In [45]:
#2.	Python Program to Remove Punctuations From a String

p='''!()-[]{};:'"\,<>./?@#$%^&*_~'''
l=[]
string=input()
for i in string:
    if i not in p:
        l.append(i)
print(''.join(l))

(iron $ man; bb)
iron  man bb

In [82]:
#3.	Python Program to Sort Words in Alphabetic Order
s=list(input().split(' '))
a=[]
for i in range(len(s)):
    a.append(''.join(sorted(s[i])))
print(' '.join(a))

karthika nair
aahikkrt ainr

In [63]:
#4.	Find Length of String
st=input()
print(len(st))

aaaaaaaaaaaakijsishud
21

In [69]:
#5.	Compare Two Strings
st1=input()
st2=input()
if st1==st2:
    print(st1,'=',st2)
elif st1>st2:
    print(st1 ,'>' ,st2)
else:
    print(st2,'>',st1)

Earth
earth
earth > Earth

In [70]:
#6.	Copy String
s=input()
v=s
print("copied string",v)

athira
copied string athira

In [72]:
#7.	Concatenate String
s=input()
s1=input()
print("concatenated string:",s+s1)

python
string
concatenated string: pythonstring

In [73]:
#8.	Reverse a String
s=input()
print('reversed string:'+s[::-1])

may
reversed string:yam

In [74]:
#9.	Remove Vowels from String
v='aeiou'
s1=''
s=input()
for i in s:
    if i not in v:
        s1=s1+i
print(s1)

karthika
krthk

In [85]:
#11.	Remove Words from Sentence
s=input()
s2=input('enter word')
l=s.split(' ')
w=[]
for i in range(len(l)):
    if l[i]!=s2:
        w.append(l[i])
print(' '.join(w))

python css c# c
enter wordcss
python c# c

In [89]:
#12.	Count Character in String
s=input()
c=input("character to count")
ct=0
for i in range(len(s)):
    if c ==s[i]:
        ct+=1
print(ct)

karthika
character to countk
2

In [97]:
#13.	Count Number of Each Vowels
s=input()
ca=0
ce=0
ci=0
co=0
cu=0
for i in s:
    if i=='a'or i=='A':
        ca+=1
    elif i=='e'or i=='E':
        ce+=1
    elif i=='i'or i=='I':
        ci+=1
    elif i=='o'or i=='O':
        co+=1
    elif i=='u'or i=='U':
        cu+=1
print("Count of a: ",ca)
print("Count of e: ",ce)
print("Count of i: ",ci)
print("Count of o: ",co)
print("Count of u: ",cu)

hello world python flutter
Count of a:  0
Count of e:  2
Count of i:  0
Count of o:  3
Count of u:  1

In [99]:
#134	Count Word in Sentence
s=input().split(' ')
print('word count is ',len(s))

hi but as python java
word count is  5

In [101]:
#15.	Remove Spaces from String
s=input().split(' ')
print(''.join(s))

where are you
whereareyou

In [102]:
#16.	Sort String in Alphabetical
s=input()
print(''.join(sorted(s)))

nair
ainr

In [103]:
#17.	Convert Uppercase to Lowercase
s=input()
print(s.upper())

python
PYTHON

In [104]:
#18.	Convert Lowercase to Uppercase
s=input()
print(s.lower())

PYtHON
python

In [105]:
s1=input()
s2=input()
print('B4 swap s1 is ',s1,' s2 is ',s2)
a=s1
s1=s2
s2=a
print('After swap s1 is ',s1,' s2 is ',s2)

Python
Java
B4 swap s1 is  Python  s2 is  Java
After swap s1 is  Java  s2 is  Python

In [1]:
st="Germany won the FIFA cup"
st1=st.center(30,'a')
st2=st.center(30)
print(st1)
print(st2)

aaaGermany won the FIFA cupaaa
   Germany won the FIFA cup

In [2]:
mydict={1:'c',2:'c++',3:'java',4:[3,4,5],'age':23}
print(mydict)
print(mydict[1])
print(mydict['age'])
mydict['address']=55
mydict['age'] =33
print(mydict)

{1: 'c', 2: 'c++', 3: 'java', 4: [3, 4, 5], 'age': 23}
c
23
{1: 'c', 2: 'c++', 3: 'java', 4: [3, 4, 5], 'age': 33, 'address': 55}

In [3]:
keys={'a','e','i','o','u'}
value='vowel'
result= dict.fromkeys(keys,value)
print(result)

{'i': 'vowel', 'u': 'vowel', 'e': 'vowel', 'o': 'vowel', 'a': 'vowel'}

In [4]:
dict1={1:'apple',2:'orange',3:'mango'}
value=dict1.setdefault(3)
print(dict1)
print(value)

{1: 'apple', 2: 'orange', 3: 'mango'}
mango

In [5]:
dict1.pop(4)

KeyError: 4

In [6]:
dict1.values()

dict_values(['apple', 'orange', 'mango'])

In [7]:
dict1.update({4:'strawberry'})
print(dict1)

{1: 'apple', 2: 'orange', 3: 'mango', 4: 'strawberry'}

In [8]:
dict1.update({1:'kiwi'})
print(dict1)

{1: 'kiwi', 2: 'orange', 3: 'mango', 4: 'strawberry'}

In [10]:
s = set([345,6667,435,90])
print(s)
t=[1,4,2,1,7,9,7]
print(set(t))
print(type(t))
#iteration
for x in {3,45,66,23,78}:
    print(x)

{345, 90, 6667, 435}
{1, 2, 4, 7, 9}
<class 'list'>
66
3
45
78
23

In [13]:
#adding
k={82,65}
print(k)
d={}
print(type(d))
k.add(88)
print(k)
# to add multiple elements
k.update([34,55,11,245])
print(k)
# subscripting the set not possible
# print(k[1])
#k.remove(78)
print(k)

{65, 82}
<class 'dict'>
{88, 65, 82}
{65, 34, 11, 82, 245, 55, 88}
{65, 34, 11, 82, 245, 55, 88}

In [16]:
k.discard(23)
print(k)
j=k.copy()
print(j)
m=set(j)

{65, 34, 11, 82, 245, 55, 88}
{65, 34, 82, 245, 55, 88, 11}

In [21]:
print(m.union(t))
print(m.intersection(t))
print(m.difference(t))
print(m.symmetric_difference(t))
print(m.issubset(t))
print(m.issuperset(t))
print(m.isdisjoint(t))

{65, 1, 2, 4, 7, 9, 11, 82, 88, 34, 245, 55}
set()
{65, 34, 82, 245, 55, 88, 11}
{1, 2, 65, 4, 34, 7, 9, 11, 82, 245, 55, 88}
False
False
True

In [22]:
x= frozenset([1,3,4,5])
y=frozenset([2,4,5,6,])

In [23]:
print(x)
print(y)

frozenset({1, 3, 4, 5})
frozenset({2, 4, 5, 6})